<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <context-param>
    <param-name>resteasy.scan</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.scan.providers</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.scan.resources</param-name>
    <param-value>false</param-value>
  </context-param>
  <servlet>
    <servlet-name>ConfigurationResource</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>de.gothaer.taa.gewerbe.server.resources</param-value>
    </init-param>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>de.gothaer.taa.gewerbe.server.ConfigurationApplication</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.feature.Trace</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.tracing.type</param-name>
      <param-value>ALL</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.feature.threshold</param-name>
      <param-value>VERBOSE</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigurationResource</servlet-name>
    <url-pattern>/Configuration/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TAAServiceResources</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>de.gothaer.taa.gewerbe.server.resources</param-value>
    </init-param>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>de.gothaer.taa.gewerbe.server.TaaApplication</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.feature.Trace</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.tracing.type</param-name>
      <param-value>ALL</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.feature.threshold</param-name>
      <param-value>VERBOSE</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TAAServiceResources</servlet-name>
    <url-pattern>/TaaService/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TRServiceResources</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>de.gothaer.taa.gewerbe.server.resources</param-value>
    </init-param>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>de.gothaer.taa.gewerbe.server.TrApplication</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.feature.Trace</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.tracing.type</param-name>
      <param-value>ALL</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.feature.threshold</param-name>
      <param-value>VERBOSE</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TRServiceResources</servlet-name>
    <url-pattern>/TrService/*</url-pattern>
  </servlet-mapping>
  <!-- filter>
    <filter-name>GWTCacheControlFilter</filter-name>
    <filter-class>org.realityforge.gwt.cache_filter.GWTCacheControlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GWTCacheControlFilter</filter-name>
    <url-pattern>/taagewerbeweb/*</url-pattern>
  </filter-mapping -->
  <servlet>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>de.gothaer.taa.gewerbe.server.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/TaaService/fileupload/loadfile</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>TAAGewerbeWeb.html</welcome-file>
  </welcome-file-list>
</web-app>